*{
    font-family: 'Rubik', cursive;
    /* padding: 0; */
    box-sizing: border-box;
    user-select: none;
}
body {
    height: 100vh;
    margin: 0;
    background-color: rgb(185, 197, 207);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.panel{
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    height: 25px;
    font-weight: bold;
    text-align: center;
    border: none;
    background-color: antiquewhite;
    padding: 25px;
    border-radius: 10px;
}

.panel > button{
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.panel > button:disabled{
    cursor: default;
}
.container-temporizador {
    display: grid;
    justify-content: center;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    /* width: 800px; */
    height: 100px;
}

#startBtn{
    /* display: flex; */
    background-color: transparent;
    border: none;
}

.buttons{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.temporizador{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    width: 175px;
    height: 175px;
}

.temporizador p{
    font-family: monospace;
    font-size: 3rem;
    
}

#btnTimer{
    background-color: bisque;
    border: none;
    border-radius: 900px;
    padding: 100px;
    display: flex;
}

#kanban{
    display: absolute;
}